<html>


<head>
   <meta charset="UTF-8">
    <style>
        body{
            background-image: url("../static/VEC.png");
            background-size: cover;
        }
    </style>
</head>
<body>
<!--<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>-->
  <!--<img src='../static/newVEC.jpg' style='width:100%;height:100%' alt='[]' />-->
<!--</div>-->
<div align="center">
   <h1>EPA Classification and Sentiment Analysis</h1>
   <h2>Upload new File</h2>
   <form method=post enctype=multipart/form-data>
       <p><input type=file name=file>
           <input type=submit value=Upload>
   </form>
</div>
</body>


</html>
